@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');


.form-section {
  width: 400px;
  margin: 16px auto;
}

.custom-form {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-form h1 {
  color: black;
  text-align: center;
}

.custom-form .form-control {
  border-radius: 5px;
  margin-bottom: 10px;
}

.custom-form .invalid {
  color: red;
  font-size: 0.9em;
}


.invalid {
  color: red;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: "Nunito", sans-serif;
}

body {
    background: linear-gradient(to right, gray, rgb(156, 156, 143));

}

h2 {
  font-family: "Bona Nova SC", serif;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 36px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .custom-form  {
    width: 90%;
    
  }
}


